body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-area {
  position: relative;
  width: 1800px;
  height: 900px;
  border: 5px solid black;
  background-image: url('31075.png');
  overflow: hidden;
}

#sprite {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 100px;
  
}
.obstacle {
  position: absolute;
  width: 85px;   
  height: 85px;  
  pointer-events: none;
}
#timer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}